<main>
    <section>
        <% if @errorMessage %>
        <div class="text-center alert-danger">
            <%= @errorMessage %>
        </div>
        <% end %>
        <% if flash[:notice] %>
        <div class="text-center alert-success">
            <%= flash[:notice] %>
        </div>
        <% end %>
    </section>
    <section class="text-center">
        <div class="text-center mb-2 rounded shadow-sm bg-light">
            <h2 class="">ログイン</h2>
            <%= form_tag("/user/login") do%>
            <p class="">ユーザ名</p>
            <input class="w-150" name="name" value="<%= @name%>">
            <p class="">パスワード</p>
            <input type="password" class="w-150" name="password" value="<%= @password%>">
            <div class="ml-auto p-2">
                <input type="submit" class="btn btn-primary btn-sm w-60" value="ログイン">
            </div>
            <% end %>
        </div>
        <div class="ml-auto p-2">
            <p class="h6 text-danger">①ユーザ登録がまだの場合はこちら</p>
            <%= link_to("/user/signup") do %>
                <input type="submit" class="btn btn-success btn-sm w-60" value="ユーザ登録">
            <% end %>
        </div>
    </section>
</main>