<main>
    <section class="text-center py-5">
    
         <div class="bg-orange">
            <% if @errorMessage %>
                <p class="bg-orange text-danger">
                    <%= @errorMessage %>
                </p>
            <% end %>
        </div>
    
        <h4 class="">Top</h4>
            <div class ="text-center mb-2 rounded shadow-sm bg-light">
                <%= form_tag("/user/login") do%>
                        <p class ="">ユーザ名</p>
                            <input class="w-150" name = "name" value = "<%= @name%>">
                        <p class ="">パスワード</p>
                            <input class="w-150" name = "password" value = "<%= @password%>">
                        <div class= "ml-auto p-2">
                            <input type="submit" class="btn btn-primary btn-sm w-60" value="ログイン">
                        </div>
                <% end %>
            </div>
         <div class= "ml-auto p-2">
            <%= link_to("/user/signup") do %>  
                <input type="submit" class="btn btn-success btn-sm w-60" value="ユーザ登録">
            <% end %>
        </div>
    </section>
</main>