<%= render 'posts/header' %>

<main>
    <section class="bg-light text-center py-5">
        <%=flash[:notice]  %>
        <h3 class="">ユーザー詳細</h3>
                <div class ="text-center mb-2 rounded shadow-sm">
                    <p class = "">
                        ユーザ名:
                        <%= @users.name%>
                        <br>
                        メール:
                        <%= @users.email%>
                    </p>

                    <div style="text-align:center;">
                         <div class="btn-group"  role="group">
                            <%= form_tag("/user/#{ @users.id}/userEdit") do %>
                             <input type="submit" class="btn btn-primary btn-sm w-60" value="edit">
                            <% end %>
                         <%= form_tag("/user/#{ @users.id}/userDestroy") do %>
                             <input type="submit" class="btn btn-danger btn-sm w-60" value="delete">
                         <% end %>                    

                         </div>
                    </div>
                </div>
                <%= link_to("userListへ", "/user/userList") %>
    </section>
</main>

<%= render 'posts/footer' %>