<%= render 'posts/header' %>

<main>
    <section class="bg-light text-center py-5">
        <%=flash[:notice]  %>
        <h3 class="">ユーザー詳細</h3>
                <div class ="text-center mb-2 rounded shadow-sm">
                    <p class = "">
                        ユーザ名:
                        <%= @users.name%>
                        <br>
                        メール:
                        <%= @users.email%>
                    </p>
                </div>
                <%= link_to("userListへ", "/user/userList") %>
    </section>
</main>

<%= render 'posts/footer' %>