<main>
  <section>
    <% if @errorMessage %>
    <div class="text-center alert-danger">
      <%= @errorMessage %>
    </div>
    <% end %>
    <% if notice %>
    <div class="text-center alert-success">
      <%= notice %>
    </div>
    <% end %>
  </section>
  <section class="bg-light text-center py-1 mx-1">
    <div class="mb-5 row">
      <!--colを12分割で分ける-->
      <div class="col-md-4">
        <p>入力欄</p>
        <%= form_tag("/posts/create")do %>
        <input type="input" class="px-2 mb-2 w-100" name="createSubject" placeholder="題名">
        <br>
        <textarea rows="5" class="px-2 w-100" name="createContes" placeholder="本文"></textarea>
        <div class="text-right">
          <input type="submit" class="btn btn-success btn-sm w-60" value="投稿">
        </div>
        <% end %>
      </div>
      <div class="col-md-8">
        <p>出力</p>
        <% @posts.each do |posts| %>
        <div class="row">
          <div class="">
            <%= link_to("/user/#{posts.user.id}")do %>
            <img class="img-fluid img-thumbnail" width="60px" height="120px" src="<%= "/user_images/#{posts.user.userImage}"
              %>">
            <% end %>
          </div>
          <div class="">
            <%= link_to("/user/#{posts.user.id}")do%>
            <span class="h5">
              <%= posts.user.name %></span>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 text-left">
            <h5>
              <%= posts.subject %>
            </h5>
          </div>
          <div class="col-sm-3 text-right">
            <% if posts.updated_at.nil? %>
            <%= posts.created_at.strftime("%Y年%m月%d日")%>
            <% else %>
            <%= posts.updated_at.strftime("%Y年%m月%d日") %>
            <% end %>
          </div>
        </div>
        <div class="shadow-sm p-1 mb-2 text-justify bg-white rounded">
          <div class="row-md-3">
          </div>
          <div class="row-md-8">
            <p class="contents-size">
              <%= posts.contents %>
            </p>
          </div>
          <div class="row-md-1 text-right">
            <%= posts.likeCount %>
            <% if posts.like(@current_user.id) %>
            <%= link_to("/like/#{posts.id}/destroy",{method:"post"})do %>
            <img class="img-responsive" src="<%= "/app_image/do_aft.png" %>">
            <% end %>
            <% else %>
            <%= link_to("/like/#{posts.id}/create",{method:"post"})do %>
            <img class="img-responsive" src="<%= "/app_image/do_bef.png" %>">
            <% end %>
            <% end %>
            <% if posts.updated_at.nil? %>
            <%= posts.created_at.strftime("%H:%M")%>
            <% else %>
            <%= posts.updated_at.strftime("%H:%M")%>
            <% end %>
            <% if (posts.user.id == @current_user.id )||(@current_user.name == "管理人")%>
            <%= link_to("/posts/#{posts.id}/edit") do%>
            <input type="submit" class="btn btn-primary btn-sm w-60" value="編集">
            <% end %>
            <!--
                        <%= link_to("/posts/#{posts.id}/destroy",{method:"post"}, data: { confirm: 'Are you sure?' }) do%>
                          <input type="submit" class="btn btn-danger btn-sm w-60" value="削除">
                        <% end %>
                      -->
            <%= link_to("/posts/#{posts.id}/destroy") do%>
            <input type="submit" class="tn btn-danger btn-sm w-60" value="削除">
            <% end %>
            <% end %>

          </div>
        </div>

        <% end %>
      </div>
    </div>
  </section>
</main>