<!DOCTYPE html>
<html>
  <head>
    <title>PostsTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <!-- <div class="container">
      <div class="header-left">
        <img class="logo" src="#">
      </div>
      <div class="header-right">
        <div class="login">ログイン</div>
      </div>
    -->
      <div class="container">
        <!-- ヘッダのメニュー(ナビバー)指定(navbar-expandも使用する)
        navbar-lightでグレー委する-->  
          <nav class="navbar navbar-expand-sm navbar-light">
            <!--navbar-brand サイズ補正-->
            <!-- navbar-toggleレスポンスナビ
                 PCブラウザの時隠すため data-toggle="collapse"
                 data-targetでレスポンスナビの中身指定
            -->
            <% if @current_user %>
              <%= link_to("/posts/index")do%>
                <span class="navbar-brand">一覧画面</span>
              <% end %>
            <% else %>
               <%= link_to("/")do%>
                  <span class="navbar-brand">トップ画面</span>
              <% end %>
            <% end %>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
              <!-- navbar-toggle-iconハンバーガーメニューロゴ -->
                <span class="navbar-toggle-icon"></span>
            </button>
            <div id="menu" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <!-- ログイン、ログアウトによるヘッダー出力制御
                  TODO Rootのみユーザ一覧を出すようにする
                 -->
                <% if @current_user %>
                  <% if @current_user.name == "root" %>
                    <%= link_to("/user/userList")do %>
                      <li class="nav-item nav-link">ユーザ一覧</li>
                    <% end %>
                  <% end %>
                   <li class="nav-item"><a href="" class="nav-link">Link</a></li>
                   <li class="nav-item"><a href="" class="nav-link">Link</a></li>
                  <%= link_to("/user/#{@current_user.id}")do %>
                    <li class="nav-item nav-link"><%= @current_user.name %>さん</li>
                  <% end %>
                  <%= link_to("/user/logout" , {method: :post})do %>
                    <li class="nav-item nav-link">ログアウト</li>
                  <% end %>

                <% else %>
                  <%= link_to("/user/signup")do %>
                    <li class="nav-item nav-link">ユーザ登録</li>
                  <% end %>
                <% end %>


              </ul>
            </div>
          </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="text-center text-muted py-4">
      Copyright OOO
    </footer>
  </body>
</html>
